body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-image: url(pic3.jpg);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 500%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a90303;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  font-size: 100%;
}

input,
button,
p {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #030000;
  font-size: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  color: #fffbfb;
  padding: 15px 25px;
  background-color: #8776dc;
  background-image:
    radial-gradient(
      93% 87% at 87% 89%,
      rgba(255, 255, 255, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ecbbe3;
}

.cash-drawer-display {
  margin-top: 20px;
  text-align: left;
}

.price-screen {
  font-size: 24px;
  font-weight: bold;
}

.to-hide {
  display: none;
}
